$main-color: #2e2e2e;
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;


$dark-gradient: linear-dradient (45deg, rgb(0, 0, 0), rbg(0, 0, 0));
